
h1{
   border-bottom: 2px solid;
  padding-bottom: 5px;
  border-bottom-color: blueviolet;
  margin: 0 auto;
  width: fit-content;
}

div .card{
    display: inline-block;
}

#projects{
   background-color: gray;
}